.description{
  margin: 120px 170px ;
}
.description-navigator{
  display: flex;
  gap:50px;
  margin-bottom: 20px;
}
.description-nav-box{
  border: 1px solid black;
  padding: 10px 20px;
  font-size: 16px;
  color: red
}
.descriptionbox-description{
  border: 1px solid black;
  padding: 10px;
  /* width: 550px; */
}
.descriptionbox-description p{
  font-size: 16px;
  color: black;
  font-size: 18px;
  font-weight: 600;
}